@media screen and (max-width:1199px) {

}


@media (max-width: 991px) {
	.nav {
		padding: 1rem;
	}

	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 15px;
		padding-top: 0.2rem;
		z-index: 2;
	}

	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
		filter: invert(1);
	}

	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #ffb900;
		filter: invert(1);
	}

	.nav>.nav-list {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
		background-color: #fff;
		height: 0;
		transition: all 0.3s ease-in;
		top: 0px;
		left: 0;
		overflow: hidden;
		padding-left: 20px;
	}

	.nav>.nav-list>li {
		width: 100%;
		margin-top: 1.5rem;
	}

	.nav>#nav-check:checked~.nav-list {
		height: 500px;
	}

	.nav>.nav-header {
		padding-left: 0;
	}

	.nav>.nav-list>li a {
		color: var(--bg-dark);
	}

	header {
		padding: 0px 0px;
	}
	.inner_banner {
		left: 32%;
	}
	ul.ul_footer {
		justify-content: center;
		margin-top: 20px;
	}

}

@media (max-width: 767px) {
	h2 {
		font-size: 26px;
		
	}
	

	a.logo img {
		max-width: 120px;
	}

	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 22px;
	}

	.inner_banner {
		left: 43%;
	}
	.rating_card_two .i_icon {
		margin-left: 0px;
	}
	.rating_card_two {
		display: block;
		text-align: center;
	}
	.rating_card_two img {
		max-width: 80px;
		margin-top: 15px;
	}
	.inner_banner h1 {
		font-size: 32px;
	}
}

@media (max-width: 575px) {

	.inner_banner h1 span {
		font-size: 20px;
	}
	.inner_banner h1 {
		font-size:26px;
	}
	.inner_banner {
		left:50%;
		width: 80%;
	}
	ul.ul_footer 
	{
		display: block;
		padding-left: 0;
	}

}